
#main{
  display: flex;
  justify-content: center;
  align-items: center;
width: 100%;
height: 50px;
}

.barracinza{
  background-color: #f6f6f6;
  width: 65%;
  height: 30px;
  text-align: center;
  border-radius: 30px;
}

.barra0{
background-color: #8c8c8c;
width:0;
height: 30px;
border-radius: 30px;
}

.barra1{
  background-color: red;
  height: 30px;
  width: 25%;
  border-radius: 30px;
}

.barra2{
background-color: yellow;
height: 30px;
width: 50%;
border-radius: 30px;
}

.barra3{
background-color: greenyellow;
height: 30px;
width: 75%;
border-radius: 30px;
}

.barra4{
background-color: green;
height: 30px;
width: 100%;
border-radius: 30px;
}

.nivel{
  margin-top: 0px;
  padding-top: 5px;
}
